<ion-view view-title="My Account">
    <ion-content>
        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>
                Payment History
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                Payment Profiles
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-email"></i>
                Account Credentials
            </a>
        </div>
    </ion-content>
</ion-view>
