<ion-view view-title="mFees" hide-nav-bar="true" class="splash-page">
    <ion-content scroll="false">
        <div class="padding logo">
            <h1>mFees</h1>
        </div>
        
        <div class="login-form">
            <div class="card">
                <div class="list">
                    <label class="item item-input">
                        <input type="number" ng-model="form.telephone" placeholder="Telephone Number">
                    </label>
                </div>
            </div>
            <div class="card">
                <div class="list">
                    <label class="item item-input">
                        <input type="number" ng-model="form.pin" placeholder="PIN">
                    </label>
                </div>
            </div>
            <div class="padding-left padding-right">
                <button class="button button-block button-balanced action-button" ng-click="submitForm(form.telephone, form.pin)">
                Sign In
                </button>
            </div>
        </div>
        <div class="padding signup-opt" ng-click="">
        </div>
    </ion-content>
</ion-view>
